<app-navbar-users></app-navbar-users>

<div id="fan">
<div id="login">
<h1>Login Membri</h1>
<p>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter Your Email"[(ngModel)]="email" >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
     
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Enter Your Password">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary"(click)="loginUser()" > Login</button>
  </p>
</div>

</div>