<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        </button>
        <span>Benvenuto nella Star Wars Fan Area</span>
        <span class="example-spacer"></span>
        <button mat-button routerLink='/fan'>I nostri Fan + Attivi <i class="fas fa-hand-peace"></i> </button>
        <button mat-button routerLink='/fan/new'>Nuovo User <i class="fas fa-user-plus"> </i> </button>
        <button mat-button routerLink='/fanlogin'>Login <i class="fas fa-user-check"> </i> </button>
        <button mat-button routerLink='/index' >Home Star wars <i class="fas fa-home"> </i> </button>

    </mat-toolbar>
</p>
