#fans {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    #tabellafans {
    padding-top: 90px;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    font-family: 'Stardos Stencil', cursive;
    }
    #tabellafans h1 {
    text-align: center;
    color: rgb(228, 228, 22);
    font-family: 'Stardos Stencil', cursive;
    }