/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Stardos Stencil', cursive;
    background-image: url(../../starwarsmatteo/src/assets/img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}
